<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <title>ajax_recursive_ul_from_json</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
</head>
<body>
    <br>
    <div id="mobile_menu">
    </div>

    <script>
    function process_children(children, parent_element) {
        let ul = $('<ul>');
        parent_element.append(ul);

        if (children) {
            children.forEach(child_data => {
                process_data(child_data, ul);
            });
        }
    }

    function process_data(item_data, parent_element) {
        let item_element = $('<li>', {
            text: `${item_data.title}: ${item_data.url}`
        });
        parent_element.append(item_element);

        process_children(item_data.children, item_element);
    }

    $(document).ready(function() {
        $.ajax({
            url: '/json/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);

                let parent_element = $('#mobile_menu');
                process_children(data, parent_element);
            }
        });
    });
    </script>
</body>
</html>