<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Веб-пульт</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/favicon/site.webmanifest') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.4.1/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap4-toggle-v3.5.0/bootstrap4-toggle.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.4.1/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4-toggle-v3.5.0/bootstrap4-toggle.js') }}"></script>
    <script src="{{ url_for('static', filename='nipplejs/nipplejs.js') }}"></script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        .icon {
            width: 30px;
            height: 30px;
        }
        .icon_target {
            background-image: url("{{ url_for('static', filename='icons/bullseye-with-target-symbol-svgrepo-com.svg') }}");
        }

        .key_control_container {
            height: 50%;
        }
        .cell {
            width: 33%;
        }
        .key_control_container > .flex-row {
            height: 33%;
        }
        .key_control {
            width: 100%;
            height: 100%;
        }
        .mouse_control_container {
            height: 50%;
        }
        #mouse_area, #joystick_wrapper {
            background: lightgray;
        }

        #mouse_wheel > button {
            font-family: "Arial";
            font-size: 3em
        }

        #button_timer {
            width: 10vw;
            height: 10vw;
        }

        .bubble {
            position: absolute;
            border-radius: 50%;
            background-color: rgb(0, 123, 255);
            box-shadow: 0 0 0 0 rgb(0, 123, 255);
            animation: bubble_hide 2s ease forwards;
        }
        @keyframes bubble_hide {
            to {
                width: 0px;
                height: 0px;
            }
        }

        body {
          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome, Opera and Firefox */
        }
    </style>
</head>

<body>
    <div id="modalTimer" class="modal" tabindex="-1" role="dialog">
        <script>
            function startTimerModel(duration) {
                send_ajax("/set_timer", {value: duration});
            }

            function setActiveTimerStates(active) {
                active = active == null ? true : active;

                $('#modalTimer #start_timer').prop('disabled', active);
                $('#modalTimer #stop_timer').prop('disabled', !active);

                $('#button_timer > .spinner-border').toggle(active);
                $('#button_timer > .icon').toggle(!active);

                $("#modalTimer .progress").toggleClass("invisible", !active);
            }

            function setProgressModel(value, text) {
                if (value > 100) {
                    value = 100;
                }
                if (value < 0) {
                    value = 0;
                }

                $("#modalTimer .progress-bar")
                    .css({"width": value + "%"})
                    .attr("aria-valuenow", value)
                    .text(text == null ? value + "%" : text)
                ;
            }

            $(document).ready(function() {
                $('#modalTimer #start_timer').click(function() {
                    let timeout = $('#select_timeout').find(":selected").val() * 60;
                    startTimerModel(timeout);

                    setActiveTimerStates(true);
                });
                $('#modalTimer #stop_timer').click(function() {
                    setActiveTimerStates(false);
                    send_ajax("/set_timer", {value: 0});
                });

                // Use a "/test" namespace.
                // An application can open a connection on multiple namespaces, and
                // Socket.IO will multiplex all those connections on a single
                // physical channel. If you don't care about multiple channels, you
                // can set the namespace to an empty string.
                namespace = '/test';

                // Connect to the Socket.IO server.
                // The connection URL has the following format, relative to the current page:
                //     http[s]://<domain>:<port>[/<namespace>]
                var socket = io(namespace);

                // Event handler for server sent data.
                // The callback function is invoked whenever the server emits data
                // to the client. The data is then displayed in the "Received"
                // section of the page.
                socket.on('about_timer', function(msg, cb) {
                    console.log("about_timer", msg);

                    let timer = msg.value;
                    setActiveTimerStates(timer > 0);

                    if (timer > 0) {
                        let minutes = parseInt(timer / 60);
                        minutes = minutes < 10 ? "0" + minutes : minutes;

                        let seconds = parseInt(timer % 60);
                        seconds = seconds < 10 ? "0" + seconds : seconds;

                        setProgressModel(Math.round(timer / msg.duration * 100), minutes + ":" + seconds);
                    }

                    if (cb)
                        cb();
                });
            });
        </script>

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Timer Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="progress invisible mb-1">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0:0</div>
                    </div>

                    <div class="form-group">
                        <label for="select_timeout">Select timeout (minutes):</label>
                        <select class="form-control" id="select_timeout">
                            <option>1</option>
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option selected>20</option>
                            <option>25</option>
                            <option>30</option>
                            <option>35</option>
                            <option>40</option>
                            <option>45</option>
                            <option>60</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row">
                        <button id="start_timer" type="button" class="btn btn-success btn-sm mr-1 w-100">Start</button>
                        <button id="stop_timer" type="button" class="btn btn-primary btn-sm w-100" disabled>Stop</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-1 w-100 h-100">
        <!-- Key control -->
        <div class="d-flex flex-column key_control_container">
            <div class="d-flex flex-row justify-content-center">
                <div class="cell m-1">
                    <button
                            id="button_show_cursor_as_target" type="button"
                            class="btn btn-outline-primary float-left m-1 p-1"
                    >
                        <div class="icon icon_target"></div>
                    </button>
                </div>
                <div class="cell m-1">
                    <button class="key_control" value="up">UP</button>
                </div>
                <div class="cell m-1">
                    <button
                            id="button_timer" type="button"
                            class="btn btn-outline-primary float-right m-1 p-1"
                            data-toggle="modal" data-target="#modalTimer"
                    >
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                        <div class="icon">⏰</div>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="cell m-1">
                    <button class="key_control" value="left">LEFT</button>
                </div>
                <div class="cell m-1">
                    <button class="key_control" value="space">SPACE</button>
                </div>
                <div class="cell m-1">
                    <button class="key_control" value="right">RIGHT</button>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="cell m-1">
                    <div class="d-flex align-items-end flex-column h-100">
                        <button
                                id="button_full_black_screen" type="button"
                                class="btn btn-outline-primary mt-auto mr-auto p-1"
                        >
                            <div class="icon">🌙</div>
                        </button>
                    </div>
                </div>
                <div class="cell m-1">
                    <button class="key_control" value="down">DOWN</button>
                </div>
                <div class="cell m-1">
                    <div class="d-flex align-items-end flex-column h-100">
                        <div class="mt-auto">
                            <input
                                    id="switch_mouse_mode" type="checkbox" data-size="sm"
                                    checked data-toggle="toggle" data-on="joystick" data-off="mouse"
                                    data-onstyle="success" data-offstyle="primary"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mouse control -->
        <div class="d-flex flex-column mouse_control_container">
            <div class="d-flex flex-row m-1 h-100">
                <div id="mouse_area" class="border border-dark w-100 mr-1" style="display: none"></div>
                <div id="joystick_wrapper" class="border border-dark w-100 mr-1">
                    <div id="joystick" style="position: absolute"></div>
                </div>
                <div id="mouse_wheel" class="d-flex flex-column">
                    <button id="mouse_wheel_up" class="border border-dark h-100">⬆</button>
                    <button id="mouse_wheel_down" class="border border-dark h-100">⬇</button>
                </div>
            </div>
            <div class="d-flex flex-row m-1 mouse_button_container">
                <button id="mouse_left" class="h-100 w-100">LEFT</button>
                <button id="mouse_right" class="h-100 w-100">RIGHT</button>
            </div>
        </div>
    </div>

    <script>
        function send_ajax(url, data, callbackFunc) {
            console.log(data);
            console.log(JSON.stringify(data));

            $.ajax({
                url: url,
                method: "POST",
                data: JSON.stringify(data),

                contentType: "application/json",
                dataType: "json",  // тип данных загружаемых с сервера

                success: function(response) {
                    console.log(response);
                    console.log(JSON.stringify(response));

                    if (callbackFunc != null) {
                        callbackFunc(url, data, response);
                    }
                },
            });
        }

        function pointerEventToXY(e) {
            var out = {
                x : 0,
                y : 0
            };

            if (e.type.startsWith("touch")) {
                var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
                out.x = touch.pageX;
                out.y = touch.pageY;
            }

            if (e.type.startsWith("mouse")) {
                out.x = e.pageX;
                out.y = e.pageY;
            }

            out.x = Math.round(out.x);
            out.y = Math.round(out.y);
            return out;
        };

        function on_change_mouse_mode(is_joystick) {
            if (is_joystick == null) {
                is_joystick = $('#switch_mouse_mode').prop('checked');
            }

            localStorage.switch_mouse_mode = is_joystick;

            $('#joystick_wrapper').toggle(is_joystick);
            $('#mouse_area').toggle(!is_joystick);
        }

        $(document).ready(function() {
            // NOTE: On android Chrome not auto restore checked value after refresh page
            if (localStorage.switch_mouse_mode != null) {
                let checked = localStorage.switch_mouse_mode == "true";
                $('#switch_mouse_mode').bootstrapToggle(checked ? 'on' : 'off');
            }

            $('#switch_mouse_mode').change(function() {
                let is_joystick = $(this).prop('checked');
                on_change_mouse_mode(is_joystick);
            });

            let joystickEl = $('#joystick');
            joystickEl.width(joystickEl.parent().width());
            joystickEl.height(joystickEl.parent().height());

            // Actualize mouse mode
            on_change_mouse_mode();

            var joystick = nipplejs.create({
                zone: joystickEl.get(0),
                color: 'darkgreen',
            });
            let _press_pos = null;
            let _last_pos = null;
            let _joystick_timer = null;
            joystick.on('start end', function(e, data) {
                _press_pos = data.position;
                _last_pos = _press_pos;

                clearInterval(_joystick_timer);

                if (e.type == 'start') {
                    _joystick_timer = setInterval(() => {
                        let relative_x = Math.floor(_last_pos.x - _press_pos.x);
                        let relative_y = Math.floor(_last_pos.y - _press_pos.y);
                        if (relative_x == 0 && relative_y == 0) {
                            return;
                        }

                        console.log("joystick", _press_pos, _last_pos, (relative_x + 'x' + relative_y));

                        var data = {"relative_x": relative_x, "relative_y": relative_y};
                        send_ajax("/mouse_move", data);

                    }, 100);
                }
            }).on('move', function(e, data) {
                _last_pos = data.position;
            });
        });

        function create_bubble(pos, size) {
            let bubble = $('<div class="bubble"></div>');
            bubble.css({
                left: pos.x - (size / 2),
                top: pos.y - (size / 2),
                width: size + 'px',
                height: size + 'px',
            });

            setTimeout(() => bubble.remove(), 2000);

            return bubble;
        }

        $(document).ready(function() {
            $("#mouse_left").click(function() {
                var data = {"button": "left"};
                send_ajax("/mouse_click", data);
            });

            $("#mouse_right").click(function() {
                var data = {"button": "right"};
                send_ajax("/mouse_click", data);
            });

            $(".key_control").click(function() {
                var data = {"key": $(this).attr("value")};
                send_ajax("/key_click", data);
            });

            $("#mouse_wheel_up").click(function() {
                var data = {"down": false};
                send_ajax("/scroll", data);
            });

            $("#mouse_wheel_down").click(function() {
                var data = {"down": true};
                send_ajax("/scroll", data);
            });

            $("#button_show_cursor_as_target").click(function() {
                send_ajax("/show_cursor_as_target");
            });

            $("#button_full_black_screen").click(function() {
                send_ajax("/full_black_screen");
            });

            // Глобальная переменная-флаг для работы c событиями touch
            let _is_touch = false;
            let _press_pos = null;
            let _last_send_pos = {x: null, y: null};
            let _last_time_send_pos = null;
            const _DELAY_BEFORE_SEND_POS = 75;

            let debug = false;
            if (debug) {
                let log = $("<div id='log'/>");
                $("#mouse_area").append(log);
            }
            let draw_bubble = true;

            $("#mouse_area").on("touchstart touchmove touchend mousemove mousedown mouseup mouseleave", function(e) {
                // https://developer.mozilla.org/en-US/docs/Web/API/Touch_events/Supporting_both_TouchEvent_and_MouseEvent
                if (_is_touch == false && e.type.startsWith("touch")) {
                    _is_touch = true;
                }

                // События mouse тоже возможны при событиях touch, но нам желательно только с одним видом событий
                // работать, поэтому если были замечены touch-события, то mouse будут отменяться
                if (e.type.startsWith("mouse") && _is_touch) {
                    e.preventDefault();
                    return;
                }

                let pos = pointerEventToXY(e);

                if (debug) {
                    log.text(JSON.stringify(pos));
                    console.log(e.type, pos);
                }

                switch (e.type) {
                    case "touchstart":
                    case "mousedown": {
                        _press_pos = pos;
                        _last_send_pos.x = null;
                        _last_send_pos.y = null;

                        if (draw_bubble) {
                            $("#mouse_area").append(
                                create_bubble(pos, 40)
                            );
                        }

                        if (debug) {
                            console.log(e.type, _press_pos);
                        }
                        break;
                    }

                    case "touchend":
                    case "mouseup":
                    case "mouseleave":
                    case "mouseout": {
                        _press_pos = null;
                        break;
                    }

                    case "touchmove":
                    case "mousemove": {
                        if (_press_pos == null) {
                            break;
                        }

                        if (_last_time_send_pos != null) {
                            if ((new Date() - _last_time_send_pos) < _DELAY_BEFORE_SEND_POS) {
                                break;
                            }
                        }
                        if (_last_send_pos.x == null || _last_send_pos.y == null) {
                            _last_send_pos.x = pos.x;
                            _last_send_pos.y = pos.y;
                        }

                        if (draw_bubble) {
                            $("#mouse_area").append(
                                create_bubble(pos, 40)
                            );
                        }

                        let relative_x = Math.floor(pos.x - _last_send_pos.x);
                        let relative_y = Math.floor(pos.y - _last_send_pos.y);
                        if (debug) {
                            console.log(e.type, _press_pos, pos, _last_send_pos, (relative_x + 'x' + relative_y));
                        }

                        _last_send_pos.x = pos.x;
                        _last_send_pos.y = pos.y;
                        _last_time_send_pos = new Date();

                        let data = {relative_x: relative_x, relative_y: relative_y};
                        send_ajax("/mouse_move", data);

                        break;
                    }
                }
            });
        });
    </script>
</body>
</html>
