<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title }}</title>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <select id="commands" size="{{ commands|length }}">
        {% for value in commands %}
        <option>{{ value }}</option>
        {% endfor %}
    </select>
    <button onclick="run()">Go</button>
    <div id="tasks"></div>
</body>
</html>