#tasks {
    display: flex;
    flex-wrap: wrap;
}
.task {
    background-color: lightblue;
    border: 1px solid blue;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 300px;
    display: table;
}
.task .log-out, .log-err {
    width: 150px;
    height: 150px;
}
[data-status="Pending"] {
    background-color: gray;
}
[data-status="Running"] {
    background-color: green;
}
[data-process-return-code]:not([data-process-return-code="0"]) {
    background-color: red;
}
.log-out, .log-err {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}
table {
    width: 100%;
    height: 100%;
}