<!DOCTYPE html>
<html lang="en">
<head>
    <title>DNS price tracking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chart_js_2.8.0/Chart.bundle.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.3.1/bootstrap.min.css') }}">
    <style>
        div.middle-div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <table id="product" class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="display: none;" scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col" class="col-2">Last Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, title, last_price, url in products %}
                     <tr product_id="{{ id }}">
                        <th style="display: none;" scope="row">{{ id }}</th>
                        <td class="text-truncate" style="max-width: 300px;" title="{{ title }}">
                            <a href="{{ url }}" target="_blank">{{ title }}</a>
                        </td>
                        <td>{{ last_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-2">
            <table id="price" class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="display: none;" scope="col">#</th>
                        <th scope="col">Datetime</th>
                        <th scope="col">Value</th>
                        <th style="display: none;" scope="col">Product ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, date, value, product_id in prices %}
                     <tr product_id="{{ product_id }}" style="display: none;" value="{{ value }}">
                        <th style="display: none;" scope="row">{{ id }}</th>
                        <td class="date" title="{{ date.strftime('%d/%m/%Y %H:%M:%S') }}" date_iso="{{ date.isoformat() }}">{{ date.strftime('%d/%m/%Y') }}</td>
                        <td class="value">{{ value }}</td>
                        <td style="display: none;">{{ product_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-5">
            <div class="container middle-div">
              <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</div>

    <script>
        function highlight_row(row) {
            let selectClass = 'table-primary';

            if (row.hasClass(selectClass)) {
                row.removeClass(selectClass);
            } else {
                row.addClass(selectClass).siblings().removeClass(selectClass);
            }
        }

        function fill_chart(row) {
            let labels = [];
            let data = [];

            // Show current product prices
            let product_id = row.attr('product_id');

            $('#price > tbody > tr').each(function() {
                tr = $(this);

                let found = tr.attr('product_id') == product_id;
                tr.toggle(found);

                if (found && tr.find('.value').text() != 'None') {
                    let date_iso = tr.find('.date').attr('date_iso');
                    let value = parseInt(tr.find('.value').text());

                    labels.push(date_iso);
                    data.push({
                      x: date_iso,
                      y: value
                    });
                }
            });

            var ctx = document.getElementById("lineChart").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Price',
                        lineTension: 0,
                        borderColor: "#3e95cd",
                        data: data,
                    }],
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'DD/MM/YYYY HH:mm:ss',
                                displayFormats: {
                                   day: 'DD/MM'
                                }
                            },
                            distribution: 'linear'
                        }]
                    }
                }
            });
        }

        $(document).ready(function() {
            $('#product > tbody > tr').click(function() {
                let row = $(this);

                // Highlight current row
                highlight_row(row);
                fill_chart(row);

                // Save current row
                localStorage.product_id = row.attr('product_id');
            });

            // Get last saved row
            let row;
            if (localStorage.product_id == null) {
                row = $('#product tr[product_id]:first');
            } else {
                row = $('#product tr[product_id=' + localStorage.product_id + ']');
            }

            highlight_row(row);
            fill_chart(row);
        });
    </script>

</body>
</html>